push constant 8

call fibonacci.Fibonacci 1

label END
goto END

function fibonacci.Fibonacci 1
	push constant 0
	pop temp 0
	push constant 1
	pop temp 1
	push constant 0
	pop temp 2
	push argument 0
	pop local 0
label LOOP
	push constant 0
	push local 0
	eq
	if-goto END
	
		push temp 1
		pop temp 2
		push temp 0
		push temp 1
		add
		pop temp 1
		push temp 2
		pop temp 0
		
	push local 0
	push constant 1
	sub
	pop local 0
	goto LOOP
label END
	push temp 0
	return