function Main.partition 4
push argument 1
push argument 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
pop local 1
push argument 1
push constant 1
add
pop local 2
label WHILE_EXP0
push local 2
push argument 2
gt
not
not
if-goto WHILE_END0
push local 2
push argument 0
add
pop pointer 1
push that 0
push local 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
push local 1
push argument 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push argument 0
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push argument 1
push argument 0
add
pop pointer 1
push that 0
pop local 3
push argument 1
push argument 0
add
push local 1
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
return
function Main.qsort 1
push argument 1
push argument 2
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push argument 1
push argument 2
call Main.partition 3
pop local 0
push argument 0
push argument 1
push local 0
push constant 1
sub
call Main.qsort 3
pop temp 0
push argument 0
push local 0
push constant 1
add
push argument 2
call Main.qsort 3
pop temp 0
push constant 0
return
function Main.main 2
push constant 5
call Array.new 1
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 5
lt
not
if-goto WHILE_END0
push local 0
push local 1
add
push constant 5
push local 0
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 5
lt
not
if-goto WHILE_END1
push local 0
push local 1
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
call Output.println 0
pop temp 0
push local 1
push constant 0
push constant 4
call Main.qsort 3
pop temp 0
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push constant 5
lt
not
if-goto WHILE_END2
push local 0
push local 1
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push local 1
call Array.dispose 1
pop temp 0
push constant 0
return
